

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 767px) {
   .navbar-tail{
    display: none;
   }
  
   .last-tail-component{
    display: none;
  }
    
  .footer-container{
    flex-direction: column;
    height: max-content;
    align-items: center;
  }

  .attribute{

    position: relative;
    margin-top: 30px;
  }
   .fa-location-dot ,
   .location{
    display: none;
   }
    .first-set{
        flex-direction:column;
        justify-content: center;
        position: relative;
        display: block;
    }
    .second-set{
      flex-direction:column;
        justify-content: center;
        display: block;
    }
    .products-container{
        position: relative;
        flex-direction:column;
        justify-content: center;
        align-self: center;
        height: max-content;
    }
    .products-container2{

      position: relative;
        flex-direction:column;
        justify-content: center;
        align-self: center;
        height: max-content;
  }
    .item-body{
       height: 0px;
    }
    #carouselExampleAutoplaying{
        display:none;
    }
  .products1{
    min-width: 50vw;
    align-items: center;
  }
 .item-body{
  align-self: center;
  display: flex;
  flex-direction:column;
}

.body{
  background-color: black;
}

.footer-container{
  position: relative ;
  margin-top: 30px;
}

}


  /* Tablet view */
  @media (min-width: 768px) and (max-width: 1199px){

    .products-container{
        position: absolute;
        top: 53vh;
        right: 10px;
        left: 10px;
        display:flex;
        flex-direction: column;
        gap: 3em;
        justify-content: center;
        align-items: center;
      }
    
     .products-container2{
      position: absolute;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3em;
      width:100vw;
      top: 170vh;
     
      
    }
     
    .cart-item{
      position: relative;
      color: #ffffff;
      margin-top: 0px;
      
      margin-left: 98vh;
      
    }
    
    .amazon-navbar{
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      gap: 3em;
    }

    .footer-container{
      position: absolute ;
      margin-top: 130vw;
    }

    .last-tail-component{
      display: none;
    }

    } 

    

/* Desktop view */
@media (min-width: 1200px) {
  
    .products-container{
        position: absolute;
        top: 53vh;
        display:flex;
        flex-direction: row;
        gap: 3em;
        width : 100vw;
       
        justify-content: center;
      }

      .products-container2{
        position: absolute;
       display:flex;
        flex-direction: row;
        gap: 3em;
        width:100vw;
        top: 110vh;
        justify-content: center;
        
      }
    .card{
      width:20vw;
    }
 
}


